<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    </style>
</head>
<body>
<div th:fragment="footer">


    <footer>
        <div class="footer-blurb">
            <div class="container p-1">
                <div class="row">
                    <div class="col-sm-3 footer-blurb-item container">
                        <h3><span class="glyphicon glyphicon-stats"></span> KPI </h3>
                        <p align="justify"> A Key Performance Indicator (KPI) is a measurable value that demonstrates how effectively a company is achieving key business objectives. Organizations use key performance indicators at multiple levels to evaluate their success at reaching targets. High-level KPIs may focus on the overall performance of the enterprise.</p>

                    </div>
                    <div class="col-sm-3 footer-blurb-item">
                        <h3><span class="glyphicon glyphicon-wrench"></span> QA Bugs</h3>
                        <p align="justify">A bugs report or defects report is a list of bugs found out by testers while testing a software product in testing phase under a testing environment. The test environment is created at development site similar to the actual environment in which the software is supposed to work or run in live situation at customer site. </p>
                    </div>
                    <div class="col-sm-3 footer-blurb-item">
                        <h3><span class="glyphicon glyphicon-paperclip"></span>  On-Time Delivery</h3>
                        <p align="justify"  >The On-Time Delivery metric helps you keep track of how accurate your deliver time estimations are, and whether or not your deliveries are getting to their destination on time. It is important that packages arrive on time, as late deliveries negatively affect customer loyalty and can cause you to lose business.</p>
                    </div>


                </div>
                <!-- /.row -->
            </div>
        </div>

        <div class="small-print">
            <div class="container">
                <p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
                <p>Copyright &copy; Eyepax.com 2019 </p>
            </div>
        </div>
    </footer>
</div>


</body>
</html>