@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
    fontFamily: 'Montserrat';
    padding:20px;
}
#ex_1 {
    width:80%;
}
caption {
    background-color:#E0E0E0;
}
thead {
    background-color:#F0F0F0;
}
#myChart {
    width:100%;
    height:300px;
    margin-bottom:20px;
}
a {
    color:#00BAF0;
    text-decoration:none;
    font-size:18px;
}

th,td{

    text-align: center;
}
#docs {
    display:block;
    margin-top:20px;
    background-color:#00BAF0;
    color:#FFF;
    font-size:18px;
    padding:10px 20px;
    text-decoration:none;
}
#chart-1 {
    height:100%;
    width:100%;
    min-height:150px;
}